!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    / Custom CSS

  %body
    .nav-areas.area-propiedad
      %i.icon.icon-menu3#menu-area-show
      %i.icon.icon-close#menu-area-hide
      .items-area.hide
        %ul
          %li proyectos
          %li eventos
          %li.area-contact contacto
          %li articulos
          %li documentos

    .header-areas.area-propiedad
      %img(src="/assets/img-pat.jpg")
      %h2
        oficina de propiedad intelectual, patentes y publicaciones
      %span
        %button registra tu patente

    .about-areas.area-propiedad
      .about-areas-img
      .about-areas-text
        %h2 Acerca de Nosotros
        .line-title
        %span.icon.icon-quote-left
        %p La Oficina de Patentes, Propiedad Intelectual y Publicaciones tienen las siguientes funciones: Elaborar el Reglamento de Patentes, Gestionar ante el Instituto Nacional de Defensa de la Competencia y de la Protección de la Propiedad Intelectual (INDECOPI)la patente de las invenciones presentadas por la UNHEVAL, con el señalamiento de los autores, en concordancia con las normas que rigen la Propiedad Intelectual, Reconocer la autoría de las publicaciones producto de investigaciones financiadas por la UNHEVAL. En cuando al contenido patrimonial, la universidad suscribe un convenio con el autor para la distribución de las utilidades en función de los aportes entregados. En los demás aspectos vinculados a esta materia, se aplica la legislación vigente sobre Derechos de Autor, Establecer que las regalías que generan las invenciones registradas por la UNHEVAL se realizan mediante convenios suscritos con los autores de las mismas, tomando en consideración los aportes de cada una de las partes, otorgando a la universidad un mínimo de 20% de participación, Las investigaciones financiadas con fondos compartidos por la UNHEVAL y otras instituciones públicas y privadas, reconocerán la autoría de las mismas a sus realizadores y la autorización de publicación estará sujeta a los convenios específicos previamente establecidos, según reglamento, Realizar publicaciones que hayan sido producto de investigaciones financiadas por la UNHEVAL en revistas institucionales, revistas indexadas, revistas virtuales de acceso abierto y otros medios de comunicación e información pertinentes; reconocen la autoría de las mismas a sus realizadores, Elaborar una base de datos de patentes de la UNHEVAL.
