@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?o0o4mj');
  src:  url('icomoon.eot?o0o4mj#iefix') format('embedded-opentype'),
    url('icomoon.ttf?o0o4mj') format('truetype'),
    url('icomoon.woff?o0o4mj') format('woff'),
    url('icomoon.svg?o0o4mj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-certificado:before {
  content: "\e90f";
}
.icon-upload:before {
  content: "\e925";
}
.icon-download:before {
  content: "\e924";
}
.icon-flag:before {
  content: "\e024";
}
.icon-telescope:before {
  content: "\e02a";
}
.icon-lightbulb:before {
  content: "\e030";
}
.icon-happy:before {
  content: "\e90b";
}
.icon-new:before {
  content: "\e916";
}
.icon-date:before {
  content: "\e917";
}
.icon-view:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e914";
}
.icon-close:before {
  content: "\e912";
}
.icon-heart:before {
  content: "\e91c";
}
.icon-user2:before {
  content: "\e91d";
}
.icon-user-add:before {
  content: "\e91e";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-facebook:before {
  content: "\e90e";
}
.icon-youtubee:before {
  content: "\e918";
}
.icon-like-o:before {
  content: "\e91f";
}
.icon-home:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e909";
}
.icon-remove_event:before {
  content: "\e910";
}
.icon-add_event:before {
  content: "\e911";
}
.icon-photo:before {
  content: "\e915";
}
.icon-menu3:before {
  content: "\e913";
}
.icon-time:before {
  content: "\e906";
}
.icon-mis_eventos:before {
  content: "\e902";
}
.icon-lugar2:before {
  content: "\e921";
}
.icon-lugar:before {
  content: "\e947";
}
.icon-cancel:before {
  content: "\e90c";
}
.icon-evento:before {
  content: "\e900";
}
.icon-articulo:before {
  content: "\e901";
}
.icon-asistencia:before {
  content: "\e919";
}
.icon-search:before {
  content: "\e922";
}
.icon-quote-right:before {
  content: "\e91a";
}
.icon-quote-left:before {
  content: "\e91b";
}
.icon-user:before {
  content: "\e905";
}
.icon-tag:before {
  content: "\e908";
}
.icon-edit:before {
  content: "\e90a";
}
