%p
  Bienvendio a la Dirección de Tranferencia e Innovación #{@email}!
%p
Puedes confirmar el correo electrónico de tu cuenta a través del siguiente enlace:
%p= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token)
