
!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width", :name => "viewport"}/
    / Custom CSS

  %body
    .nav-areas.area-emprendimiento
      %i.icon.icon-menu3#menu-area-show
      %i.icon.icon-close#menu-area-hide
      .items-area.hide
        %ul
          %li proyectos
          %li eventos
          %li.area-contact contacto
          %li articulos
          %li documentos

    .header-areas.area-emprendimiento
      %img(src="/assets/img-emp.jpg")
      %h2
        oficina de emprendimiento e incubadora de empresas
      %span
        %button registra tu proyecto
    .about-areas.area-emprendimiento
      .about-areas-img
      .about-areas-text
        %h2 Acerca de Nosotros
        .line-title
        %span.icon.icon-quote-left
        %p La Oficina de Emprendimiento e Incubadora de Empresas, promueve la iniciativa de los estudiantes para la creación de pequeñas y micro empresas de propiedad de los estudiantes, brindando asesoría o facilidades en el uso de los equipos e instalaciones de la institución. Los órganos directivos de la empresa, en un contexto formativo, deben estar integrados por estudiantes. Estas empresas reciben asesoría técnica o empresarial de parte de los docentes de la universidad y facilidades en el uso de los equipos e instalaciones, la operatividad de estas acciones se realizan a través de las Facultades como parte de su actividad formativa; tiene las siguientes funciones: Elaborar el Reglamento de Patentes, Elaborar y ejecutar un plan de capacitación a los estudiantes de la UNHEVAL respecto a la creación de pequeñas y micro empresas, Asesorar a los estudiantes para la creación de pequeñas y microempresas, Proponer convenios de préstamos para la creación de pequeñas y micro empresas, Monitorear el funcionamiento de las pequeñas y microempresas creadas por los estudiantes, Otras que se establezcan en su Reglamento Interno o las que se señalan en las normas internas de la UNHEVAL.
